<a href="https://colab.research.google.com/github/Lucy-code-tech/100-Days-of-Code-Data-Science/blob/main/%5BSample_Notebook%5D_AfterWork_Pandas_Challenge_Day_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Sample Notebook] AfterWork: Pandas Challenge - Day 18

# Pre-requisite

In [ ]:
# Import pandas for data manipulation
import pandas as pd

# 1. Removing Duplicates Based on Specific Columns

We remove duplicates based on specific columns when we want to ensure that our dataset contains only unique combinations of values in those columns. This helps us maintain data integrity and avoid any misleading analysis that could arise from duplicate entries. For example, in a sales dataset, we may have multiple entries for the same customer ID and product ID combination due to data entry errors or system glitches.

To apply this concept, we use the `drop_duplicates()` method in Pandas with the subset parameter specifying the columns on which we want to check for duplicates.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_dzjxp.csv')
df.head()

In [ ]:
# Determine the dataset size
df.shape

In [ ]:
# Removing duplicates based on specific columns ('Phone Number')
df_unique = df.drop_duplicates(subset=['Phone Number'])
df_unique.head()

In [ ]:
# Determine the dataset size
df_unique.shape

## <font color="green">Challenge</font>

Given the dataset of products available at the URL: https://afterwork.ai/ds/ch/products_zpgf4.csv, create a Python script using Pandas to remove duplicates based on the 'Brand' column. This will ensure that each unique brand is represented only once in the dataset. Write the code to achieve this and display the resulting dataset.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/ch/products_zpgf4.csv')
df.head()

In [ ]:
# Dataset size
# Write your code here

In [ ]:
# Removing duplicates based on the 'Brand' column
# Write your code here

In [ ]:
# Dataset size
# Write your code here

# 2. Converting columns to lowercase

We convert columns to lowercase when we want to standardize the text data in our DataFrame. For example, if we have a column containing product names, converting it to lowercase ensures that 'Apple' and 'apple' are treated as the same value.

A real-life use case for converting columns to lowercase is in text processing tasks such as natural language processing or text mining.

To apply this concept in Pandas, we can use the str.lower() method along with the apply() function to convert all values in a specific column to lowercase.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_9817z.csv')
df.head()

In [ ]:
# Converting columns to lowercase using str.lower() and apply()
df = df.apply(lambda x: x.astype(str).str.lower() if x.dtype == 'object' else x)

# Displaying the DataFrame after converting columns to lowercase
df.head()

# 3. Replacing Specific Characters in Multiple Columns

We use this concept when we need to clean and standardize our data by replacing certain characters with others. For example, we may want to replace all instances of a special character like '$' with a standard currency symbol like 'USD' across multiple columns.

To apply this concept, we first identify the specific character we want to replace, then use the `replace()` method in Pandas to perform the replacement operation on the desired columns.

In [ ]:
# Load the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_0dh78.csv')
df.head()

In [ ]:
# Define the specific character to be replaced and the replacement character
char_to_replace = '-'
replacement_char = ' '

# Replace the specific character in multiple columns using the replace() method
columns_to_replace = ['First Name', 'Last Name', 'Address', 'Phone Number']
df[columns_to_replace] = df[columns_to_replace].replace(char_to_replace, replacement_char, regex=True)

# Preview the updated DataFrame after replacing the specific character
df.head()

## <font color="green">Challenge</font>

Given the dataset of products available at the following URL: https://afterwork.ai/ds/ch/products_of4qc.csv, create a Python script using Pandas to replace all instances of the color 'Black' in the 'Color' column with 'Midnight Black'. This will help standardize the color naming convention for the products.

In [ ]:
# Load the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/ch/products_of4qc.csv')
df.head()

In [ ]:
# Define the specific character to be replaced and the replacement character
# Write your code here


# Replace the specific character in the 'Color' column using the replace() method
# Write your code here


# Display the updated DataFrame after replacing the specific character
# Write your code here

# 4. Sampling Random Rows from a DataFrame for Reproducibility

We sample random rows from a DataFrame to ensure reproducibility in our data analysis. This is important when we want to perform statistical analysis or machine learning tasks on our dataset. For example, in a survey dataset, we can randomly sample rows to analyze the responses without skewing the results.

To apply this concept, we use the 'sample' method in Pandas with the 'random_state' parameter set to a specific value. This ensures that every time we run the sampling operation, we get the same set of random rows, making our analysis reproducible.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_lmifa.csv')
df.head()

In [ ]:
# Setting the random_state parameter to ensure reproducibility
sampled_df = df.sample(n=5, random_state=42)

# Displaying the sampled DataFrame
sampled_df

# 5. Adding Timedelta to Date Column

We add timedelta to a date column when we want to perform date arithmetic operations such as adding or subtracting a specific duration from dates in our dataset. This allows us to calculate future or past dates based on a given reference date. For example, we can add 7 days to a date column to calculate the date one week ahead.

To apply this concept, we first create a timedelta object representing the duration we want to add or subtract, then use the Pandas library to add this timedelta to the date column in our DataFrame.

In [ ]:
# Load the dataset from the URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_m4so6.csv')
df.head()

In [ ]:
# Convert 'Date of Birth' column to datetime format
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])

# Define a timedelta object representing 30 days
from datetime import timedelta
delta = timedelta(days=30)

# Add the timedelta to the 'Date of Birth' column
df['New Date'] = df['Date of Birth'] + delta

# Display the updated DataFrame
df[['Customer ID', 'First Name', 'Last Name', 'Date of Birth', 'New Date']]

## <font color="green">Challenge</font>

Given the dataset of products available at the following URL: https://afterwork.ai/ds/ch/products_nwdl9.csv, create a Python script that adds a timedelta of 30 days to the 'Expiry Date' of each product and stores the result in a new column named 'New Expiry Date'. This new column should contain the updated dates after adding the timedelta. Make sure to use the Pandas library for this task.

In [ ]:
# Load the dataset from the URL
df = pd.read_csv('https://afterwork.ai/ds/ch/products_nwdl9.csv')
df.head()

In [ ]:
# Convert 'Expiry Date' column to datetime format
# Write your code here

# Define the timedelta to add (e.g., 30 days)
# Write your code here

# Add the timedelta to the 'Expiry Date' column and store in 'New Expiry Date'
# Write your code here

# Preview the updated DataFrame
# Write your code here

# 6. Subtracting Timedelta from Date Column

We subtract a timedelta from a date column to calculate a new date by subtracting a specific duration from the original date. This is useful when we need to calculate deadlines, project durations, or track events that occurred before or after a certain period. For example, we can subtract 7 days from a date column to find the date a week before a specific event.

To apply this concept, we first create a timedelta object with the desired duration (e.g., 7 days) and then subtract this timedelta from the date column using the Pandas library in Python. This operation will result in a new date column with the adjusted dates.

In [ ]:
# Load the dataset from the URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_gsw08.csv')
df.head()

In [ ]:
# Convert 'Date of Birth' column to datetime format
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])

# Define the timedelta to subtract (e.g., 30 days)
delta = timedelta(days=30)

# Subtract the defined timedelta from the 'Date of Birth' column
df['New Date'] = df['Date of Birth'] - delta

# Display the updated DataFrame with the new date column
df.head()

# 7. Shifting Dates Using DateOffset

We use the DateOffset class in Pandas to shift dates by a specified amount. This allows us to easily manipulate dates in our DataFrame by adding or subtracting days, months, years, etc.

We can use this concept to perform time-based calculations, such as comparing data from different time periods or creating time series forecasts. For example, we can shift the dates of sales data to compare monthly sales figures year-over-year.

To apply this concept, we first create a DateOffset object with the desired shift value (e.g., DateOffset(days=7) to shift dates by 7 days) and then use the .apply() method along with the DateOffset object to shift the dates in a specific column of our DataFrame.

In [ ]:
# Load the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_iqyku.csv')
df.head()

In [ ]:
# Convert 'Join Date' column to datetime format
df['Join Date'] = pd.to_datetime(df['Join Date'])

# Define a DateOffset object to shift dates by 1 year
from pandas.tseries.offsets import DateOffset
offset = DateOffset(years=1)

# Apply the DateOffset to shift the 'Join Date' column by 1 year
df['Join Date Shifted'] = df['Join Date'] + offset

# Display the original 'Join Date' and the shifted 'Join Date' columns
df[['Join Date', 'Join Date Shifted']]

## <font color="green">Challenge</font>

Given the dataset of products available at the URL: https://afterwork.ai/ds/ch/products_7xlud.csv, create a Python script using Pandas that shifts the 'Expiry Date' of each product by 6 months ahead. This will help in analyzing the inventory management strategy for the upcoming months. Remember to use the DateOffset class in Pandas for date shifting.

In [ ]:
# Load the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/ch/products_7xlud.csv')
df.head()

In [ ]:
# Convert 'Expiry Date' column to datetime format
# Write your code here


# Define a DateOffset object to shift dates by 6 months
# Write your code here


# Apply the DateOffset to shift the 'Expiry Date' column by 6 months
# Write your code here


# Display the original 'Expiry Date' and the shifted 'Expiry Date' columns
# Write your code here

# 8. Deleting columns using the pop method

We delete columns using the pop method when we want to remove a specific column from a DataFrame in Pandas. For example, if we have a dataset with a column that contains sensitive information that we do not need for our analysis, we can use the pop method to delete that column.

To apply this concept, we simply call the pop method on the DataFrame and pass the column label as an argument, like this: df.pop('column_name'). This will remove the specified column from the DataFrame.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_9hs6k.csv')
df.head()

In [ ]:
# Deleting the 'Phone Number' column using the pop method
df.pop('Phone Number')

# Previewing the DataFrame after deleting the column
df.head()

# 9. Creating Crosstab Tables with Aggregation

We create crosstab tables with aggregation to summarize and analyze the relationship between two or more categorical variables. For example, we can create a crosstab table with aggregation to compare the sales performance of different products across various regions.

To apply this concept, we use the pandas library in Python to call the crosstab function and specify the variables we want to analyze along with the aggregation function we want to apply, such as sum, mean, count, etc.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_af8rn.csv')
df.head()

In [ ]:
# Creating a crosstab table to analyze the relationship between Gender and State
gender_state_crosstab = pd.crosstab(df['Gender'], df['State'])

# Displaying the crosstab table
gender_state_crosstab

## <font color="green">Challenge</font>

Using the provided sales dataset from the URL: https://afterwork.ai/ds/ch/sales_73y8p.csv, create a crosstab table to analyze the relationship between 'Product Category' and 'Payment Method'. This will help you understand how different product categories are purchased using various payment methods. Use the pd.crosstab() function in Pandas to achieve this analysis.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/ch/sales_73y8p.csv')
df.head()

In [ ]:
# Creating a crosstab table to analyze the relationship between 'Product Category' and 'Payment Method'
# Write your code here


# Displaying the crosstab table
# Write your code here

# 10. Filtering with loc and isin based on Multiple Conditions

We filter data in a DataFrame using the loc function combined with the isin method based on multiple conditions. For example, we can filter rows where the values in one column are within a certain range and another column matches specific values.

A real-life use case for this concept would be in analyzing sales data where we want to extract transactions that occurred within a certain date range and involved specific products.

To apply this concept, we first use the loc function to select rows based on one condition and then further filter those rows using the isin method to check for values in another column, ensuring that both conditions are met.

In [ ]:
# Loading the dataset from the provided URL
df = pd.read_csv('https://afterwork.ai/ds/e/customers_rxkhp.csv')
df.head()

In [ ]:
# Filtering the data using loc and isin based on multiple conditions
filtered_data = df.loc[(df['Age'] >= 30) & (df['State'].isin(['CA', 'TX']))]

# Displaying the filtered data
filtered_data